<p id="notice"><%= notice %></p>

<p>
  <strong>Contact info:</strong>
  <%= @person.contact_info %>
</p>

<p>
  <strong>Person desc:</strong>
  <%= @person.person_desc %>
</p>

<p>
  <strong>Role:</strong>
  <%= @person.role %>
</p>

<p>
  <strong>Social info:</strong>
  <%= @person.social_info %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @person.skills %>
</p>

<p>
  <strong>Work history:</strong>
  <%= @person.work_history %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
